body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.radix-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.radix-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
  z-index: 2;
}

/* The Close Button */
.radix-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.radix-close:hover,
.radix-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Bootstrap overrides */
.modal {
  display: block;
  max-width: var(--bs-modal-width);
  margin: 0 auto;
  position: relative;
}

.modal-dialog {
  margin-top: 0;
  margin-bottom: 0;
}

.modal-backdrop {
  opacity: 0.2;
}
